/*Style for basic HTML body*/
body {
    margin: 0;
    padding: 0;
    background: url(../Images/resturant2.jpg);
    background-size: cover;
    background-position: top;
    font-family: sans-serif;
}
/*Style for box containing username & password box*/
.loginbox {
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px; /* chomper registration line */
}
/*Logo Style*/
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
/*Header style*/
h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    padding-bottom: 50px; /* moving email address box */
}
/*login box title*/
.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}
/*login box entry portion*/
.loginbox input {
    width: 100%;
    margin-bottom: 20px; /* register button moving */
}
/*editing style for email boxes*/
input[type="email"] {
	 border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
/*editing style in case for additional boxes*/
.loginbox input[type="text"], input[type="password"],input[type="email"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
/*style for buttons*/
.loginbox input[type="button"] {
    border: none;
    outline: none;
    height: 40px;
    background: red;
    color: #fff;
    font-size: 18px;
}
/*style to change enter button color while hovering*/
.loginbox input[type="button"]:hover {
    cursor: pointer;
    background: yellow;
    color: #000;
}
/*Style for web address in this case its back button to login*/
.loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: red;
}
/*style for web address while mouse hovers over*/
.loginbox a:hover {
    color: yellow;
}